@import url(./vendor/normalize.css);
body {
    font-family: Arial, sans-serif;
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: #ccbebe; /* Цвет фона страницы */
}

.hidden{
    display: none;
}
.startAgain {
border-radius: 30px;
height: 100px;
width: 200px;
background-color: greenyellow;
position: absolute;
top: 190px;
font-size: 20px;

}
canvas {
    margin-top: 5px;
    border: 1px solid black;
    background: linear-gradient(to bottom, #a0d8ef, #ffffff); /* Градиентный фон */
    border-radius: 20px;
    text-align: center;
}
#letterContainer {
    margin-top: 10px;
    font-size: 20px;
}
#controls {
    display: flex;
    flex-direction: column; /* Вертикальное размещение */
    align-items: center; /* Центрирование по горизонтали */
}
.horizontal-controls {
    display: flex; /* Горизонтальное размещение кнопок в ряд */
}
.direction-button {
    background-color: #1b1b1b; /* Темный фон */
    color: white; /* Белый текст */
    border: none; /* Без границ */
    border-radius: 50%; /* Круглая форма */
    width: 50px; /* Ширина кнопки */
    height: 50px; /* Высота кнопки */
    font-size: 24px; /* Размер текста */
    cursor: pointer; /* Курсор при наведении */
    transition: background-color 0.3s; /* Плавный переход цвета фона */
    display: flex; /* Используем flexbox для кнопок */
    align-items: center; /* Центрируем текст по вертикали */
    justify-content: center; /* Центрируем текст по горизонтали */
    margin: 5px; /* Отступ между кнопками */
}
/* Увеличиваем отступ между горизонтальными кнопками */
.horizontal-controls .direction-button {
    margin: 0 25px; /* Установите нужное значение для отступа */
}
.direction-button:hover {
    background-color: #3b3b3b; /* Светлее при наведении */
}
.direction-button:active {
    background-color: #5b5b5b; /* Еще светлее при нажатии */
}
.scoreCopy {
    font-size: 20px;
    margin-top: 5px;
}